@font-face {
    font-family: "ShareTech";
    src: 
        url(assets/sharetechmono-regular-webfont.woff2) format(woff2),
        url(assets/sharetechmono-regular-webfont.woff) format(woff);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "ShareTech";
}

body {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 1 1 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 20vh;
    padding-bottom: 16px;
}

.sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-image {
    width: 150px;
}

.sidebar-title {
    color: white;
    font-size: 4rem;
}

.sidebar-footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}

.sidebar-footer a {
    color: rgba(255, 255, 255, 0.8);
}

.form {
    flex: 2 1 auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.form-description {
    width: min(100%, 600px);
    font-size: 1.4rem;
    font-weight: lighter;
}

.form-inputs {
    width: min(100%, 600px);
    display: flex;
    flex-wrap: wrap;
    gap: 16px 32px;
}

.form-title {
    font-size: 2rem;
    width: 100%;
}

.form-label {
    flex: 1 1 200px;
    position: relative;
}

.form-input {
    border-radius: 2px;
    width: 100%;
    display: block;
    border: #E5E7EB solid 2px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 40px;
    padding-left: 12px;
}

.form-input:focus {
    outline: #191825 solid 2px;
}

.form-label > span {
   font-size: 1rem; 
   opacity: 0.5;
   position: absolute;
   top: 12px;
   left: 12px;
   transition: 
     opacity 100ms ease-in,
     top 100ms ease-in,
     left 100ms ease-in,
     font-size 100ms ease-in;
}

.form-input:focus + span,
.form-input:not(:placeholder-shown) + span {
    opacity: 1;
    top: -8px;
    left: 5px;
    font-size: 0.7rem;
    background-color: white;
}

.form-buttons {
    width: min(100%, 600px);
}

.form-createAccountButton {
    font-size: 1.5rem;
    color: white;
    background-color: #191825;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
}

.form-loginText {
    margin-top: 16px;
    font-size: 1.1rem;
}

.form-loginText > a {
    color: #191825;
    text-decoration: none;
}

.form-loginText > a:hover {
    text-decoration: underline;
}




